.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.font {
    font-family: monospace;
    font-size: 1rem;
    font-weight: lighter;
    line-height: 0.7;
    font-family: 'Comforter Brush', cursive;
}

/* 
text-align
text-decoration
text-indent
text-overflow
text-transform
letter-spacing
*/

.text {
    font-size: 1rem;
    text-indent: 10rem;
    text-overflow: clip;
}

/* TENGO QUE VER 31 - ESTILOS TIPOGRAFICOS */