.linear{
    background-image: linear-gradient(360deg,red, green, blue, pink);
    background-image: linear-gradient(to right,red, green, blue, pink);
    background-image: linear-gradient(to bottom,red, green, blue, pink);
    background-image: linear-gradient(to top left,red, green, blue, pink);
    background-image: linear-gradient(to left,red 30%, green, blue, pink);
}

/* Bandera */

.linear{
    background-image: linear-gradient(to left, green 33%, white 34% 67%, red 68% );
}

.radial{
    background-image: radial-gradient(cyan, magenta, yellow);
    background-image: radial-gradient(circle 6rem,cyan, magenta, yellow);
    background-image: radial-gradient(circle 6rem,
    cyan 30%, 
    magenta 60%, 
    yellow 60%);

    background-image: radial-gradient(
    circle 6rem at top,
    cyan 30%, 
    magenta 60%, 
    yellow 60%);

    background-image: radial-gradient(
    circle 6rem at left,
    cyan 30%, 
    magenta 60%, 
    yellow 90%);
    
    background-image: radial-gradient(
    ellipse 7rem 1rem,
    cyan 30%, 
    magenta 60%, 
    yellow 90%);
}

/* Bandera */

.radial{
    background-image: radial-gradient(circle 100px,red 50%,white 50%);
}


.conic{
    background-image: conic-gradient(
        from 90deg,
        red 0deg 120deg,
        white 120deg 240deg,
        blue 240deg
    );
}